<%- include('header.ejs') %>

<nav>
    <div class="container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Blogger.com</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <form action="/" method="get">
              <button type="submit" class="nav-link active">Home</button>
            </form>
          </li>
        </ul>
      </header>
    </div>
  </nav>





    <div class="container">
        <div class="boxes">
            <form action="/newPost" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            
        </div>
    </div>


<%- include('footer.ejs') %>
